<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="gtcourseinfo\templates\gtcourseinfo\style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GT Course Info by Daksh Gupta</title>
</head>
<body>
    <h1>Welcome to GT Course Info</h1>
    <h4>by Daksh Gupta</h4>
    <p>GT Course Info returns the RateMyProfessor Ratings of all the professors who teach the class you enter.</h3>
    <p>To get started, enter the name of a GT class (for example, "CS1301"): </h3>
    <form action="result">
        <input type="text" name="coursename"><br><br>
        <input type="submit">
        <br>

    </form>
</body>
</html>